# Fichiers générés par le système d'exploitation
.DS_Store

# Fichiers compilés
*.pyc
*.pyo
*.pyd


# Ignore App/.env
/App/.env

# Exclude all files and subfolders within App/ except src/
/App/*
!/App/src/


# Ignore models
/models


